.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 20rem;
    border-radius: 2rem;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-container .card .card-img {
    width: 100%;
    border-radius: 2rem 2rem 0 0;
    height: 22rem;
}

.card-container .card .card-text {
    padding: 1rem 2rem;
    height: 10rem;
}

.card-container .card .card-text h2 {
    font-size: 1.2rem;
}

.card-container .card .card-text p {
    font-size: .9rem;
    color: rgb(90, 88, 88);
}

.card-container .card .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1rem;
    padding-bottom: 1rem;
}

.card-container .card .progress-container {
    display: flex;
    gap: .3rem;
    margin: 0 2rem;
}

.card-container .card .progress-container .progress {
    height: .3rem;
    width: .3rem;
    background-color: lightgrey;
    border-radius: 50%;
    cursor: pointer;
}

.card-container .card .progress-container .progress.active {
    background-color: black;
    width: .8rem;
    border-radius: 1rem;
}

.card-container .card .btn-container {
    display: flex;
    gap: 1rem;
    margin: 0 2rem;
}

.card-container .card .btn-container .btn {
    cursor: pointer;
    background-color: black;
    border: 0;
    color: white;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

.card-container .card .btn-container .btn-prev {
    background-color: transparent;
    border: 1px solid black;
    color: black;
}