body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
    font-family: system-ui;
}

#root {
    display: grid;
    place-content: center;
    min-height: 100vh;
}